<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConn" connectionString="Database='lyzy';Data Source='localhost';User Id='root';Password='kyjj';charset='utf8';pooling=true ;Allow Zero Datetime=True" />
  </connectionStrings>
  <appSettings>
    <add key="StartupForm" value="MainWindow.xaml" />
    <add key="Opaticy" value="1" />
    <add key="Top" value="100" />
    <add key="Left" value="100" />
    <add key="Height" value="100" />
    <add key="Width" value="100" />
    <add key="RemoteIP" value="127.0.0.1" />
    <add key="RemotePort" value="54321" />
    <add key="CommPort" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>